/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* CONTACT */ /* CONTACT */ /* CONTACT */
#contact {
}

#contact h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
  margin: 5% 0 3% 0;
}

.flex-contact {
  /* background-color: red; */
  margin: 5% 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location h4 {
  /* background-color: aqua; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.email h4 {
  /* background-color: purple; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.phone h4 {
  /* background-color: peru; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.location p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.email p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.phone p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

#contact-ico {
  font-size: 120%;
  color: #0563bb;
  background-color: rgb(222, 234, 239);
  padding: 20px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  float: left;
  display: flex;
  flex-direction: column;
}

.flex-input {
  margin-left: 25%;
  margin-top: -25%;
  margin-right: 20%;
}

.flex-item {
}

#name1 input {
  width: 180%;
  height: 44px;
}

#email1 input {
  width: 200%;
  height: 44px;
  margin-bottom: 7%;
  margin-left: 167px;
}

#subject1 input {
  width: 125%;
  height: initial;
  margin-bottom: 3%;
  height: 44px;
}

#message1 input {
  width: 125%;
  height: initial;
  margin-bottom: 3%;
  padding-bottom: 20%;
}

.row-container {
  display: inline-flex;
}

.submitbutton {
  background-color: #0563bb;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-weight: bold;
}

.submitbutton:hover {
  background-color: rgb(70, 122, 194);
  /* color: #0563bb; */
  border: 1px solid #0563bb;
}
