/* CSS RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* NAVBAR */ /* NAVBAR */ /* NAVBAR */
nav {
  height: 50%;
  width: 100px;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 13%;
}

/* NAVBAR ICON STYLING */
#nav-ico {
  margin-top: 5px;
  color: #45505b;
  font-size: medium;
  padding: 15px;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
}

#nav-ico:hover {
  color: #ffffff;
  font-size: medium;
  padding: 15px;
  border-radius: 50%;
  background-color: #0563bb;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

nav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

nav span {
  display: none;
}

nav span:hover {
  display: legacy;
}

/* HOME */ /* HOME */ /* HOME */
#home {
  margin-top: 21%;
  margin-left: 20%;
}

#home h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #353c44;
  font-family: "Raleway", sans-serif;
}

#home p {
  margin-top: 1%;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  color: #45505b;
}

#blue {
  color: #0563bb;
}

/* BACKGROUND */
#bg-gif {
  position: absolute;
  height: 100vh;
  width: 100%;
  object-fit: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  filter: blur(8px);
}

/* SOCIAL MEDIA ICONS */
.socials {
  margin-top: 1.9%;
  font-size: 20px;
  color: #45505b;
  /* background-color: beige; */
  letter-spacing: 15px;
}

#twitter:hover {
  color: #30669c;
}

#facebook:hover {
  color: #30669c;
}

#instagram:hover {
  color: #30669c;
}

#skype:hover {
  color: #30669c;
}

#linkedin:hover {
  color: #30669c;
}

/* ABOUT */ /* ABOUT */ /* ABOUT */

about {
  min-height: 100vh;
}

.heading h2 {
  margin-bottom: 1%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
}

.heading {
  color: #45505b;
  font-family: "Raleway", sans-serif;

  padding-bottom: 30px;
  display: block;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 25%;
}

.bio h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: #728394;
}

.bio li {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  list-style: none;
  margin-bottom: 10px;
  margin-left: 0px;
}

#descrip {
  margin-top: 0.6%;
  margin-bottom: 1%;
  width: 80%;
  font-style: italic;
  color: #45505b;
  font-family: "Open Sans", sans-serif;
}

#portrait {
  float: left;
  padding-right: 3%;
  width: 415.99px;
  height: auto;
  margin-left: 15%;
}

.column1 {
  float: left;
  row-gap: 1%;
}

.fa-chevron-right {
  color: #0563bb;
}

.bold {
  font-weight: 600;
}

#aboutfoot {
  width: 80%;
  margin-top: 2.5%;
  color: #45505b;
  font-family: "Open Sans", sans-serif;
}

/* FACTS */ /* FACTS */ /* FACTS */
#facts {
  margin-top: 5%;
}

.facts_heading h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
  margin-bottom: 1%;
}

.facts_heading p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 60%;
  color: #272829;
  font-family: "Open Sans", sans-serif;
}

.fact-ico {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: #45505b; */
}

.smile {
  width: 100px;
  height: 150px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-face-smile {
  color: white;
  background: #0563bb;
  background-size: 400px;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.project {
  width: 100px;
  height: 150px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-table-list {
  color: white;
  background: #0563bb;
  background-size: 400px;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.headset {
  width: 150px;
  height: 150px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-headset {
  color: white;
  background: #0563bb;
  background-size: 400px;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.award {
  width: 100px;
  height: 150px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fa-award {
  color: white;
  background: #0563bb;
  background-size: 400px;
  font-size: 24px;
  padding: 10px;
  border-radius: 50%;
}

.fact-ico p {
  color: #272829;
  font-family: "Open Sans", sans-serif;
}

#counter {
  font-size: 36px;
  font-weight: 600;
  color: #011426;
  font-family: "Open Sans", sans-serif;
}

/* SKILLS */ /* SKILLS */ /* SKILLS */
#skills {
  margin-top: 5%;
  text-align: center;
}

#skills h2 {
  font-size: 32px;
  font-weight: bold;
  color: #45505b;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1%;
}

#skills p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 1093px;
  color: #272829;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1%;
}

/* PROGRESS BARS */

/* .prog1 span {
      margin-left: 1002px;
}

.prog2 span {
  margin-left: 947px;
} */

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 50%;
  height: 10px;
  background: blue;
}

.row3 {
  display: flex;
}

/*centering icons */
.column3 {
  flex: 50%;
  padding: 10px;
}

.prog2 {
  margin-left: -400px;
  margin-top: 12px;
}

.prog1 {
  margin-left: -171px;
}

.prog1 span {
  font-family: "Poppins", sans-serif;
  color: #45505b;
  padding-bottom: 10px;
  font-size: small;
  margin-left: 493px;
}

.prog1 p {
  font-family: "Poppins", sans-serif;
  color: #45505b;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: small;
}

.prog2 span {
  font-family: "Poppins", sans-serif;
  color: #45505b;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: small;
  margin-left: 450px;
}

.prog2 p {
  font-family: "Poppins", sans-serif;
  color: #45505b;
  font-weight: 600;
  padding-bottom: 10px;
  font-size: small;
}

/* RESUME */ /* RESUME */ /* RESUME */
#resume {
  margin-top: 5%;
  text-align: center;
}

#resume h2 {
  font-size: 32px;
  font-weight: bold;
  color: #45505b;
  font-family: "Raleway", sans-serif;
  margin-bottom: 1%;
}

#resume p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 60%;
  color: #272829;
  font-family: "Open Sans", sans-serif;
}

/* SERVICES */
#services {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5% 0% 5% 0%;
}

#services h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
  margin-bottom: 1%;
}

#services p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  color: #272829;
  font-family: "Open Sans", sans-serif;
}

#serv-descrip {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  width: 60%;
  color: #272829;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 3%;
}

.serv-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
.serv-row > div {
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .serv-row {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: red;
  }
  .serv-row > div {
    min-width: 100%;
    gap: 1rem;
    background-color: #0563bb;
  }
}

#serv-head2 {
  font-family: "Raleway", sans-serif;
  color: #45505b;
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0 15px 0;
}

#serv-descrip2 {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  padding-bottom: 3%;
}

#serv-ico {
  font-size: x-large;
}

.fa-chart-pie {
  color: purple;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 50%;
}

.fa-globe {
  color: green;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 50%;
}

.fa-circle-half-stroke {
  color: orange;
  background-color: rgb(230, 230, 230);
  padding: 10px;
  border-radius: 50%;
}

.fa-chart-pie:hover {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: purple;
}

.fa-globe:hover {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: green;
}

.fa-circle-half-stroke:hover {
  color: white;
  padding: 10px;
  border-radius: 50%;
  background-color: orange;
}

.ecom:hover {
  box-shadow: 10px 10px 50px grey;
}

.webd:hover {
  box-shadow: 10px 10px 50px grey;
}

.graphd:hover {
  box-shadow: 10px 10px 50px grey;
}

/* TESTIMONIALS */ /* TESTIMONIALS */ /* TESTIMONIALS */
#testimonials h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
  margin-bottom: 3%;
}

.flex-testimonial {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 5%;
  margin: 0% 5%;
}

#bsnssmn {
  width: 40%;
  height: auto;
  border-radius: 50%;
  border: 5px solid #45505b;
}

.nam-sur {
  font-family: "Raleway", sans-serif;
  color: #111;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.job-descr {
  font-family: "Raleway", sans-serif;
  color: #999;
  font-size: 14px;
  margin: 0 0 15px 0;
}

.user1 {
  /* background-color: aqua; */
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user2 {
  /* background-color: #ff00c8; */
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user3 {
  /* background-color: #0ac803; */
  width: 30%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* CONTACT */ /* CONTACT */ /* CONTACT */
#contact {
}

#contact h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: #45505b;
  margin: 5% 0 3% 0;
}

.flex-contact {
  /* background-color: red; */
  margin: 5% 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.location h4 {
  /* background-color: aqua; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.email h4 {
  /* background-color: purple; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.phone h4 {
  /* background-color: peru; */
  font-family: "Raleway", sans-serif;
  width: fit-content;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 2%;
  color: #45505b;
}

.location p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.email p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.phone p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

#contact-ico {
  font-size: 150%;
  color: #0563bb;
  background-color: rgb(194, 194, 230);
  padding: 20px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  float: left;
}
